.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;

}

.languages li {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    

}

.languages li::before {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/check.svg');
}